<div class="d-flex gap-3 bg-light p-1 rounded align-items-center">
  <button
    class="btn btn-outline-primary"
    (click)="previousPage()"
    [disabled]="page <= 1"
  >
    <i class="bi bi-arrow-left-square-fill"></i>
  </button>
  <span> Page {{ page }} sur {{ totalPages }} </span>

  <button
    class="btn btn-outline-primary"
    (click)="nextPage()"
    [disabled]="page >= totalPages"
  >
    <i class="bi bi-arrow-right-square-fill"></i>
  </button>
</div>
<div class="bg-light rounded p-1 d-flex align-items-center gap-1">
  <label for="search"> <i class="bi bi-search"></i> </label>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="search"
    (ngModelChange)="onSearchChange()"
    placeholder="Recherche..."
    id="search"
  />
  <label class="bg-light rounded p-1" for="limit">
    <i class="bi bi-card-list"></i>
  </label>
  Limit cartes
  <select
    class="form-control"
    [(ngModel)]="limit"
    (change)="onLimitChange()"
    id="limit"
  >
    <option [value]="12">12</option>
    <option [value]="24">24</option>
    <option [value]="48">48</option>
  </select>
</div>
<div class="bg-light rounded p-1">
  <p class="my-1">
    <span class="text-warning">{{ total }}</span> élément(s)
  </p>
</div>
