<div class="container my-4">
  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Chargement...</span>
    </div>
  </div>

  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{ error }}
  </div>

  <div *ngIf="registrations && registrations.length" class="row">
    <h2 class="text-primary">Inscriptions de l'événement</h2>
    <app-pagination-controls-component
      [page]="parameters.page"
      [limit]="parameters.limit"
      [totalPages]="parameters.totalPages"
      [total]="parameters.total"
      (changePage)="pageChanged($event.page, $event.limit, $event.search)"
      class="d-flex flex-column flex-md-row align-items-center gap-1 rounded p-1 text-dark mb-4"
    >
    </app-pagination-controls-component>
    <div class="col-md-6 mb-4" *ngFor="let registration of registrations">
      <div class="card shadow-sm h-100 border-primary cartes">
        <div class="card-header bg-primary text-white">
          <h5 class="card-title mb-0">
            {{ registration.event.title }} -
            {{ registration.event.sportType | titlecase }}
          </h5>
        </div>
        <div class="card-body">
          <p><strong>Lieu :</strong> {{ registration.event.location }}</p>
          <p>
            <strong>Date :</strong>
            {{ registration.event.date | date : "medium" }}
          </p>
          <hr />
          <p>
            <strong>Participant :</strong> {{ registration.user.name }}
            {{ registration.user.lastName }}
          </p>
          <p><strong>Email :</strong> {{ registration.user.mail }}</p>
          <p>
            <span class="badge bg-success me-1">{{ registration.status }}</span>
            <span class="badge bg-info">{{ registration.paymentStatus }}</span>
          </p>
        </div>
        <div class="card-footer text-muted small">
          Créée le : {{ registration.createdAt | date : "short" }}
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center gap-3">
      <button
        class="btn btn-primary"
        [disabled]="parameters.page <= 1"
        (click)="prevPage()"
      >
        <i class="bi bi-arrow-left-square-fill"></i>
        Page précédente
      </button>
      <button
        class="btn btn-primary"
        [disabled]="parameters.totalPages <= parameters.page"
        (click)="nextPage()"
      >
        Page suivante
        <i class="bi bi-arrow-right-square-fill"></i>
      </button>
    </div>
  </div>

  <div
    *ngIf="(!registrations || registrations.length === 0) && !error"
    class="alert alert-info text-center py-5"
  >
    Aucune inscription trouvée pour cet événement.
  </div>
</div>
