<h2
  class="display-2 py-2 text-primary text-center col-12 mx-auto rounded border shadow-sm bg-dark"
>
  Inscriptions
  <span class="badge bg-warning border">{{ parameters.total }}</span>
</h2>
<app-pagination-controls-component
  [limit]="parameters.limit"
  [page]="parameters.page"
  [totalPages]="parameters.totalPages"
  [total]="parameters.total"
  (changePage)="
    getRegistrations(userId, $event.page, $event.limit, $event.search)
  "
  class="d-flex flex-column flex-md-row align-items-center gap-1 rounded p-1 text-dark mb-4"
></app-pagination-controls-component>
<div class="row">
  @for (item of registrations; track item._id) {
    <div class="card shadow-sm border col-12 col-xl-6 my-1 p-0 cartes">
      <div class="card-header bg-dark bg-gradient text-white">
        <h5 class="card-title mb-0">
          {{ item.event.title }} -
          {{ item.event.sportType | titlecase }}
        </h5>
      </div>
      <div class="card-body">
        <p><strong>Lieu :</strong> {{ item.event.location }}</p>
        <p>
          <strong>Date :</strong>
          {{ item.event.date | date: "medium" }}
        </p>
        <hr />
        <p>
          <strong>Participant :</strong> {{ item.user.name }}
          {{ item.user.lastName }}
        </p>
        <p><strong>Email :</strong> {{ item.user.mail }}</p>
        <a
          [routerLink]="['/dashboard/events', item.event._id]"
          class="btn btn-primary mb-2"
        >
          Voir plus
          <i class="bi bi-search"></i
        ></a>
        <p>
          <span class="badge bg-success me-1">{{ item.status }}</span>
          <span class="badge bg-info">{{ item.paymentStatus }}</span>
        </p>
      </div>
      <div class="card-footer text-light small bg-dark bg-gradient">
        Créée le : {{ item.createdAt | date: "short" }}
      </div>
    </div>
  } @empty {
    <div class="alert alert-info text-center py-5">
      <p>Vous n'êtes inscrit à aucun événement</p>
    </div>
  }
</div>
