<h3 class="display-2 text-primary">Événements</h3>
<app-pagination-controls-component
  [page]="parameters.page"
  [limit]="parameters.limit"
  [totalPages]="parameters.totalPages"
  [total]="parameters.total"
  (changePage)="onPageChanged($event.search, $event.page, $event.limit)"
  class="d-flex flex-column flex-md-row align-items-center gap-3 rounded p-1 text-dark mb-4"
>
</app-pagination-controls-component>

@for (item of events; track item._id) {
  <div
    class="col-12 col-md-6 col-lg-4 col-xl-3 cartes mb-4 shadow-sm border border-light"
    [ngStyle]="{ animationDelay: $index * 50 + 'ms' }"
  >
    <div class="mb-1">
      <h5 class="text-primary">{{ item.title }}</h5>
      <span class="text-info">{{ item.sportType }}</span>
    </div>
    <div>
      <p>
        Lieu de l'événement:
        <span class="text-info d-block">{{ item.location }}</span>
      </p>
      <a [routerLink]="['/dashboard/events', item._id]" class="btn btn-primary">
        Voir <i class="bi bi-search"></i>
      </a>
    </div>
    <div class="d-flex justify-content-between text-primary mt-1">
      <p>
        Date prévue: <span class="text-warning d-block">{{ item.fDate }}</span>
      </p>
    </div>
  </div>
} @empty {
  <div class="alert alert-info text-center py-5">
    Aucuns événements disponible
  </div>
}
<div class="d-flex justify-content-center gap-3">
  <button
    class="btn btn-warning"
    [disabled]="parameters.page <= 1"
    (click)="prevPage()"
  >
    <i class="bi bi-arrow-left-square-fill"></i>
    Page précédente
  </button>
  <button
    class="btn btn-warning"
    [disabled]="parameters.totalPages <= parameters.page"
    (click)="nextPage()"
  >
    Page suivante
    <i class="bi bi-arrow-right-square-fill"></i>
  </button>
</div>
