<h3 class="display-2 text-primary">Événements</h3>
<app-pagination-controls-component
  [page]="parameters.page"
  [limit]="parameters.limit"
  [totalPages]="parameters.totalPages"
  [total]="parameters.total"
  (changePage)="onPageChanged($event.search, $event.page, $event.limit)"
  class="d-flex flex-column flex-md-row align-items-center gap-3 rounded p-1 text-dark mb-4"
>
</app-pagination-controls-component>

@for (item of events; track item._id) {
<div
  class="col-12 col-md-5 col-xl-3 mb-4"
  [ngStyle]="{ animationDelay: $index * 50 + 'ms' }"
>
  <div
    class="card h-100 shadow border-0 rounded-3 bg-light text-dark dark-mode-card p-3 cartes"
  >
    <img
      [src]="
        item.imageUrl ||
        'https://upload.wikimedia.org/wikipedia/commons/f/fc/No_picture_available.png'
      "
      alt="Image de l'événements"
      class="card-img-top"
      style="max-height: 500px"
    />
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h5 class="mb-0">{{ item.title }}</h5>
      <small class="text-primary">{{ item.sportType }}</small>
    </div>

    <p class="mb-2">
      <i class="bi bi-geo-alt-fill"></i>
      <span class="mx-2 fw-semibold">Lieu :</span>
      <span class="text-primary">{{ item.location }}</span>
    </p>

    <p class="mb-2">
      <i class="bi bi-calendar"></i>
      <span class="mx-2 fw-semibold">Date :</span>
      <span class="text-success">{{ item.fDate }}</span>
    </p>

    <div class="mt-auto mx-auto">
      <a
        [routerLink]="['/dashboard/events', item._id]"
        class="btn btn-outline-primary"
      >
        <i class="bi bi-search me-1"></i> Voir
      </a>
    </div>
  </div>
</div>

} @empty {
<div class="alert alert-info text-center py-5">
  Aucuns événements disponible
</div>
}
<div class="d-flex justify-content-center gap-3">
  <button
    class="btn btn-primary"
    [disabled]="parameters.page <= 1"
    (click)="prevPage()"
  >
    <i class="bi bi-arrow-left-square-fill"></i>
    Page précédente
  </button>
  <button
    class="btn btn-primary"
    [disabled]="parameters.totalPages <= parameters.page"
    (click)="nextPage()"
  >
    Page suivante
    <i class="bi bi-arrow-right-square-fill"></i>
  </button>
</div>
