<div class="registration-form">
  <!-- Indicateur de chargement -->
  <div *ngIf="isLoading" class="text-center my-3">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Chargement...</span>
    </div>
  </div>

  <!-- Message d'erreur -->
  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{ error }}
  </div>

  <!-- Affichage conditionnel des boutons selon l'état d'inscription -->
  <ng-container *ngIf="!isLoading && userId">
    <button
      *ngIf="isRegister"
      class="btn btn-danger m-2"
      (click)="unRegisterEvent()"
    >
      Annuler l'inscription
      <i class="bi bi-trash3-fill"></i>
    </button>

    <button
      *ngIf="!isRegister"
      class="btn btn-success m-2"
      (click)="registerEvent()"
    >
      S'inscrire à l'événement
      <i class="bi bi-pencil-fill"></i>
    </button>
  </ng-container>
  <div class="mt-2" *ngIf="!userId">
    <a routerLink="/" class="btn btn-outline-success">
      <i class="bi bi-person-plus-fill"></i>
      Créez un compte pour vous inscrire à cet événement
    </a>
  </div>
</div>
